<div class="intro">
    <h1>ng-timeline demo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada sociosqu ultrices, proin aptent eu habitasse dui est
        lobortis mus gravida, turpis massa nulla feugiat orci sociis interdum libero imperdiet. Lorem ipsum dolor sit amet
        consectetur adipiscing elit malesuada sociosqu ultrices, proin aptent eu habitasse dui est lobortis mus gravida,
        turpis massa nulla feugiat orci sociis interdum libero imperdiet. Lorem ipsum dolor sit amet consectetur adipiscing
        elit malesuada sociosqu ultrices, proin aptent eu habitasse dui est lobortis mus gravida, turpis massa nulla feugiat
        orci sociis interdum libero imperdiet. Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada sociosqu
        ultrices, proin aptent eu habitasse dui est lobortis mus gravida, turpis massa nulla feugiat orci sociis interdum
        libero imperdiet.

    </p>
</div>
<ng-timeline [entries]="entries" [enableAnimation]="true"></ng-timeline>